<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>InsightMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="home-page">

<div class="home-content">

  <div class="home-text-box">
    <h2 class="home-welcome">Welcome to</h2>

    <h1 class="home-title">InsightMate</h1>

    <p class="home-subtitle">
      Analyze your data. Discover insights. Predict the future
    </p>

    <a href="/login" class="home-btn">Get Started</a>
  </div>

</div>

</body>
</html>