{% extends "base.html" %}
{% block content %}

<h2>Insights Hub</h2>

<div class="row mt-4">
  <div class="col-md-4">
    <a href="/visual_insights" class="btn btn-primary w-100">Visual Insights</a>
  </div>
  <div class="col-md-4">
    <a href="/textual_insights" class="btn btn-primary w-100">Textual Insights</a>
  </div>
  <div class="col-md-4">
    <a href="/manual_insights" class="btn btn-primary w-100">Manual Insights</a>
  </div>
</div>

<a href="/upload_page" class="btn btn-secondary mt-4">Back</a>

{% endblock %}
